@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>
    <strong>About this excersise:</strong> <br>
    This excersise is about doing a website using ASP.NET instead of console with .NET!
    I am just doing similar things as I did in console. This excersise uses MVC logic as well.
</p>
