/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: rgb(2, 40, 73);
    width: 700px;
}

p{
    color: #ffffff;
}

h1{
    color: #ffffff;
}

h2{
    color: #ffffff;
}

a{
    color: #ffffff;
}
