/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    background: rgb(2, 40, 73);
    width: auto;
    max-width: 600px;
    margin: 8px auto;
    color: #ffffff;
}

.responsive{
    width: 100%;
    height: auto;
}

section p{
    display: inline-block;
    width: 66%;
    color: #ffffff;
    padding: auto;  
}

h1{
    color: #ffffff;
}

h2{
    color: #ffffff;
    
}


a{
    color: #ffffff;

}
