/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    width: fit-content;
    height: fit-content;
    margin: 8px auto;
    background: rgb(2, 40, 73);
}

p{
    color: #ffffff;
}

h1{
    color: #ffffff;
}

h2{
    color: #ffffff;
}

a{
    color: #ffffff;
}
